@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-pale: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-pale md:ms-[250px] ms-[70px] text-gray-700
}

.container {
    @apply bg-white md:p-8 p-3 rounded-xl border border-gray-200 w-auto shadow-lg
}

.heading {
    @apply text-3xl
}

.paragraph {
    @apply text-sm max-w-lg
}

.input {
    @apply block bg-gray-50 border outline-none border-gray-200 px-8 py-1 rounded-lg
}

.input-lg {
    @apply min-w-xl bg-gray-50 border outline-none border-gray-200 px-8 py-2 rounded-lg
}

.input-select {
    @apply bg-gray-50 border outline-none border-gray-200 p-2 rounded-lg cursor-pointer
}

.button-lg {
    @apply bg-green-600 text-white px-9 py-3 text-sm rounded-lg cursor-pointer hover:opacity-90
}

.button-sm {
    @apply bg-green-500 text-white p-2 text-[12px] rounded-md cursor-pointer hover:opacity-90
}
.button-lg-blue {
    @apply bg-blue-500 text-white px-9 py-3 text-sm rounded-md cursor-pointer hover:opacity-90
}
.button-sm-blue {
    @apply bg-blue-400 text-white p-2 text-[12px] rounded-md cursor-pointer hover:opacity-90
}

.button-lg-yellow {
    @apply bg-yellow-600 text-white px-9 py-3 text-sm rounded-md cursor-pointer hover:opacity-90
}

.button-sm-yellow {
    @apply bg-yellow-600 text-white p-2 text-[12px] rounded-md cursor-pointer hover:opacity-90
}